body {background-image: linear-gradient(black,white)}
body {background-image: url(bujo-bckgr.jpg);}
    h1,p {font-family: Georgia, 'Times New Roman', Times, serif;}
      h1 {font-size: 3.5rem;}
      h1 {color: rgb(182, 241, 166);}
      h1 {text-shadow: 3px 3px black;}
      h1 {margin-left: 20%;}
      h1 {
            width: 1200px;
            border: 1px solid rgb(6, 6, 6);
            padding: 10px;
            margin: auto;
            background-color: rgb(201, 133, 241);
      }
        img {margin-left: 10%;}
        img {position: absolute; top: 15%; left: 0;}

        p {font-size: 2rem;}
        p {text-wrap: wrap;}
        p {color: rgb(254, 198, 255);}
        p {text-shadow: 2px 2px black;}
        p {
            width: 300px;
            border: 5px solid rgb(115, 194, 239);
            padding: 50px;
            margin-left: 950px;
            margin-top: 10%;
            background-color: palegoldenrod;
        }